{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<form method="POST">
  <h3 align="center">Sign Up</h3>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required />
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required />
  </div>
  <div class="form-group">
    <label for="dateOfBirth">Date of Birth</label>
    <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" required />
  </div>
  <div class="form-group">
    <label for="password1">Password</label>
    <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password" required />
  </div>
  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
      placeholder="Confirm password" required />
  </div>
  <div class="form-group">
    <label for="is_pilot">Are you a pilot?</label>
    <select class="form-control" id="is_pilot" name="is_pilot" required>
      <option value="1">Yes</option>
      <option value="0">No</option>
    </select>
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}